@use "../global" as *;

* {
    box-sizing: border-box;

    .sp {
        @include PC {
            display: none !important;
        }
        @include SP {
            display: block !important;
        }
    }

    .pc {
        @include PC {
            display: flex !important;
        }
        @include SP {
            display: none !important;
        }
    }

    img {
        height: auto;
        max-width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
        background-color: #fff;
        font-family: "Shippori Mincho B1", serif, "Yu Gothic", sans-serif;

        .l-container {
            .pt {
                @include PC {
                    @include vw(padding-top, 10, 1055, 1055);
                }
                @include SP {
                    @include vw(padding-top, 20, 750, 750);
                }
            }

            .header-top {
                background-color: #F8F8F8;

                @include PC {
                    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
                }

                .header-logo {
                    @include PC {
                        @include vw(padding-top, 15, 1366, 1366);
                        @include vw(padding-bottom, 15, 1366, 1366);
                    }

                    @include SP {
                        @include vw(padding-top, 30, 750, 1366);
                        @include vw(padding-bottom, 30, 750, 1366);
                    }

                    img {
                        margin: 0 auto;

                        @include PC {
                            @include vw(width, 90, 1366, 1366);
                        }

                        @include SP {
                            @include vw(width, 140, 750, 1366);
                        }
                    }
                }
            }

            .header-mv {
                background-image: url('../img/mv_morning.png');
                width: 100%;
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;

                img {
                    margin: 0 auto;
                    width: 100%;
                }
            }

            .main-container {
                width: 100%;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;

                @include PC {
                    background-image: url('../img/bg-pc.jpg');
                }

                @include SP {
                    background-image: url('../img/bg-sp.jpg');
                }

                .btn-box {
                    text-align: center;
                    padding-top: 15px;
                }

                .btn-lunch {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #9B565A;
                    line-height: 1.0;
                    margin-left: auto;
                    margin-inline-end: auto;

                    @include PC {
                        @include vw(width, 145, 1366, 1366);
                    }

                    @include SP {
                        @include vw(width, 110, 750, 1366);
                    }

                    .btn-main-text {
                        font-weight: bold;

                        @include PC {
                            @include vw(font-size, 30, 1366, 1366);
                        }

                        @include SP {
                            @include vw(font-size, 30, 750, 1366);
                        }
                    }

                    .btn-sub-text {
                        @include PC {
                            @include vw(font-size, 18, 1366, 1366);
                        }

                        @include SP {
                            @include vw(font-size, 22, 750, 1366);
                        }
                    }
                }

                .btn-bottom-inner {
                    display: flex;
                    justify-content: space-between;
                    max-width: 1090px;
                    margin-left: auto;
                    margin-right: auto;

                    @include PC {
                        @include vw(padding-top, 35, 1366, 1366);
                    }
                }

                .morning {
                    color: #B89D9C;
                }

                .dinner {
                    color: #490E2A;
                }

                .morning,
                .dinner {
                    display: flex;
                    line-height: 1.0;
                    margin-left: auto;
                    margin-inline-end: auto;
                    align-items: center;
                    flex-direction: column;

                    @include PC {
                        @include vw(width, 145, 1366, 1366);
                    }

                    @include SP {
                        @include vw(width, 110, 750, 1366);
                    }

                    .btn-main-text {
                        font-weight: bold;

                        @include PC {
                            @include vw(font-size, 30, 1366, 1366);
                        }

                        @include SP {
                            @include vw(font-size, 30, 750, 1366);
                        }
                    }

                    .btn-sub-text {
                        @include PC {
                            @include vw(font-size, 18, 1366, 1366);
                        }

                        @include SP {
                            @include vw(font-size, 22, 750, 1366);
                        }
                    }
                }

                .menu-list {
                    @include PC {
                        @include vw(padding-top, 50, 1110, 1110);
                    }

                    @include SP {
                        @include vw(padding-top, 70, 630, 630);
                    }

                    .menu-list-inner {
                        margin: 0 auto;

                        @include PC {
                            max-width: 1090px;
                        }

                        @include SP {
                            max-width: 630px;
                        }
                    }
                }

                .menu-item-block {
                    @include PC {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    @include SP {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        justify-content: center;
                    }

                    .menu-item-link {
                        &:nth-child(n + 5) {
                            @include SP {
                                @include vw(margin-top, 10, 630, 630);
                            }
                        }
                    }

                    .menu-link {
                        display: block;
                        background: #F9F7F7;
                        font-weight: bold;
                        font-feature-settings: "calt";
                        text-align: center;
                        border: 2px solid #9B565A;
                        color: #9B565A;

                        @include PC {
                            @include vw(width, 130, 1090, 1090);
                            @include vw(font-size, 20, 1090, 1090);
                            @include vw(padding-top, 20, 1090, 1090);
                            @include vw(padding-bottom, 20, 1090, 1090);
                        }

                        @include SP {
                            @include vw(width, 150, 630, 630);
                            @include vw(font-size, 24, 630, 630);
                            @include vw(padding-top, 20, 630, 630);
                            @include vw(padding-bottom, 20, 630, 630);
                            @include vw(margin-right, 10, 630, 630);
                        }
                    }
                }

                .food-list {
                    @include PC {
                        @include vw(padding-top, 90, 1055, 1055);
                    }
                    @include SP {
                        @include vw(padding-top, 90, 750, 750);
                    }
                }

                .food-list-inner {
                    margin-left: auto;
                    margin-right: auto;

                    @include PC {
                        max-width: 1055px;
                    }

                    @include SP {
                        max-width: 640px;
                    }
                }

                .food-container {
                    display: grid;

                    @include PC {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        @include vw(gap, 30, 1055, 1055);
                    }

                    @include SP {
                        grid-template-columns: 1fr 1fr;
                        @include vw(gap, 50, 640, 640);
                    }
                }

                .food-card {
                    @include PC {
                        position: relative;
                    }

                    .button {
                        @include PC {
                            display: block;
                            background: #9B565A;
                            cursor: pointer;
                            @include vw(width, 240, 1055, 1055);
                        }
                    }

                    .hover-block {
                        @include PC {
                            @include vw(font-size, 45, 1055, 1055);
                            color: #fff;
                            background: #9B565A;
                            text-align: center;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &:hover {
                            @include PC {
                                opacity: 0.8;
                                transition: 0.6s;
                            }
                        }
                    }
                }

                .food-btn-block {
                    text-align: center;
                    @include vw(padding-top, 70, 1055, 1055);

                    .food-btn-link {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        background: #000;
                        color: #fff;
                        font-weight: bold;
                        @include PC {
                            @include vw(width, 250, 1055, 1055);
                            @include vw(font-size, 25, 1055, 1055);
                            @include vw(padding-top, 15, 1055, 1055);
                            @include vw(padding-bottom, 15, 1055, 1055);
                        }
                        @include SP {
                            @include vw(width, 300, 640, 640);
                            @include vw(font-size, 30, 640, 640);
                            @include vw(padding-top, 30, 640, 640);
                            @include vw(padding-bottom, 30, 640, 640);
                        }
                    }
                }

                .message-block {
                    margin: 0 auto;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('../img/img_morning_message.png');
                    @include PC {
                        @include vw(padding-top, 630, 1055, 1055);
                        @include vw(width, 750, 1055, 1055);
                        @include vw(min-height, 120, 1055, 1055);
                    }
                    @include SP {
                        @include vw(padding-top, 420, 640, 640);
                        @include vw(width, 630,  640, 640);
                    }
                }
            }

            .footer-container {
                .link-list {
                    display: flex;
                    color: #fff;
                    align-items: center;
                    background: #B89D9C;
                    @include PC {
                        @include vw(font-size, 25, 1366, 1366);
                        @include vw(padding-top, 25, 1366, 1366);
                        @include vw(padding-bottom, 25, 1366, 1366);
                    }
                    @include SP {
                        justify-content: space-around;
                        @include vw(font-size, 25, 750, 750);
                        @include vw(padding-top, 50, 750, 750);
                        @include vw(padding-bottom, 50, 750, 750);
                    }

                    .link-item {
                        &:first-child {
                            @include PC {
                                @include vw(padding-left, 155, 1366, 1366);
                                @include vw(padding-right, 120, 1366, 1366);
                            }
                            @include SP {
                                @include vw(padding-left, 0, 750, 750);
                                @include vw(padding-right, 0, 750, 750);
                            }
                        }

                        &:nth-child(2) {
                            @include PC {
                                @include vw(padding-right, 120, 1366, 1366);
                            }
                            @include SP {
                                @include vw(padding-right, 0, 750, 750);
                            }
                        }
                    }
                }
            }

            .contents-block {
                @include PC {
                    @include vw(padding-left, 25, 1055, 1055);
                }
                @include SP {
                    display: contents;
                }
            }

            .txt-block {
                display: flex;
                align-items: center;

                &:nth-child(n+1) {
                    @include PC {
                        @include vw(margin-top, 15, 1055, 1055);
                    }
                }

                .box_color {
                    @include PC {
                        color: #9B565A;
                        font-weight: bold;
                        text-align: center;
                        border: 2px solid #9B565A;
                        @include vw(width, 140, 1055, 1055);
                        @include vw(border-width, 2, 1055, 1055);
                        @include vw(font-size, 20, 1055, 1055);
                        @include vw(padding-top, 5, 1055, 1055);
                        @include vw(padding-bottom, 5, 1055, 1055);
                    }

                    &:nth-child(n+1) {
                        @include vw(margin-left, 20, 1055, 1055);
                        @include vw(margin-right, 20, 1055, 1055);
                    }
                }
            }

            .p-modal {
                position: fixed;
                display: block;
                background-color: rgba(0, 0, 0, 0.7);
                top: 0;
                left: 0;
                z-index: -1;
                letter-spacing: 0.04em;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                opacity: 0;
                visibility: hidden;

                &.is-open {
                    z-index: 999;
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 1s linear, visibility 1s linear, z-index 1s linear;
                }

                .p-modal-bg {
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .p-modal-inner {
                    position: relative;
                    max-width: 750px;
                    height: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    pointer-events: none;
                }

                .p-modal-body {
                    width: 100%;
                    pointer-events: all;
                }

                .modal-container {
                    background-color: #fff;
                    position: relative;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    z-index: 1050;
                    border: 3px solid #9B565A;
                    transform: translate(-50%, -50%);
                    box-shadow: 6px 6px 10px 0px rgba(3, 6, 12, 0.3);

                    @include PC {
                        @include vw(width, 1055, 1055, 1055);
                        @include vw(padding-bottom, 35, 1055, 1055);
                    }

                    @include SP {
                        @include vw(width, 710, 750, 750);
                        @include vw(padding-bottom, 60, 750, 750);
                    }
                }

                .modal-block-inner {
                    display: flex;
                    @include SP {
                        flex-wrap: wrap;
                    }

                    img {
                        @include PC {
                            @include vw(width, 300, 1055, 1055);
                        }
                        @include SP {
                            @include vw(width, 320, 750, 750);
                        }
                    }
                }

                .p-modal-close {
                    position: absolute;
                    right: 9px;
                    top: 21px;
                    display: flex;
                    flex-direction: row-reverse;

                    @include PC{
                        @include vw(right, 9, 1055, 1055);
                        @include vw(top, 21, 1055, 1055);
                    }

                    .close-btn {
                        position: relative;
                        cursor: pointer;
                        width: 33px;
                        height: 33px;
                        margin: 0 auto;

                        span {
                            position: absolute;
                            background-color: #000;
                            left: 0;
                            width: 100%;
                            height: 5px;

                            &:nth-child(1) {
                                transform: rotate(-45deg);
                            }

                            &:nth-child(2) {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .contents-block {
                    @include PC {
                        @include vw(padding-left, 25, 1055, 1055);
                    }
                }

                .contents-block-inner {
                    @include SP {
                        @include vw(padding-top, 15, 750, 750);
                        @include vw(padding-left, 15, 750, 750);
                    }
                }

                .modal-text-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #ACACAC;
                    font-weight: bold;

                    @include PC {
                        @include vw(width, 300, 1055, 1055);
                        @include vw(font-size, 23, 1055, 1055);
                    }
                    @include SP {
                        @include vw(width, 290, 750, 750);
                        @include vw(font-size, 20, 750, 750);
                    }
                }

                .food-title-block {
                    @include SP {
                        @include vw(padding-top, 45, 750, 750);
                        @include vw(padding-left, 40, 750, 750);
                    }
                    .food-title {
                        @include PC {
                            @include vw(font-size, 75, 1055, 1055)
                        }
                        @include SP {
                            @include vw(font-size, 70, 750, 750);
                            text-align: center;
                        }
                    }

                    .food-price {
                        @include PC {
                            @include vw(font-size, 18, 1055, 1055);
                        }
                        @include SP {
                            text-align: center;
                            @include vw(font-size, 25, 750, 750);
                        }
                    }
                }

                .time-block {
                    color: #9B565A;
                    font-weight: bold;
                    line-height: 1.5;
                    @include PC {
                        display: flex;
                        @include vw(font-size, 20, 1055, 1055);
                    }
                    @include SP {
                        text-align: center;
                        @include vw(font-size, 25, 750, 750);
                    }

                    .time-text {
                        &:nth-child(2) {
                            @include PC {
                                @include vw(padding-left, 15, 1055, 1055);
                                @include vw(padding-right, 15, 1055, 1055);
                            }
                        }
                    }
                }

                .modal-btn-block {
                    display: flex;

                    @include PC {
                        @include vw(padding-top, 23, 1055, 1055);
                    }

                    .modal-btn {
                        @include SP {
                            @include vw(padding-top, 40,  750, 750);
                        }

                        &:first-child {
                            @include PC {
                                @include vw(padding-right, 30, 1055, 1055);
                            }
                            @include SP {
                                @include vw(padding-right, 30,  750, 750);
                                @include vw(padding-left, 40,  750, 750);
                            }
                        }

                        .modal-link {
                            display: block;
                            color: #fff;
                            background: #000;
                            text-align: center;
                            @include PC {
                                @include vw(font-size, 20, 1055, 1055);
                                @include vw(width, 210, 1055, 1055);
                                @include vw(padding-top, 10, 1055, 1055);
                                @include vw(padding-bottom, 10, 1055, 1055);
                            }
                            @include SP {
                                @include vw(font-size, 30,  750, 750);
                                @include vw(width, 300,  750, 750);
                                @include vw(padding-top, 20,  750, 750);
                                @include vw(padding-bottom, 20,  750, 750);
                            }
                        }
                    }
                }

                .detail-block {
                    @include SP {
                        @include vw(margin-top, 40, 750, 750);
                    }
                }

                .detail-text-block {
                    display: flex;
                    align-items: flex-start;

                    &:nth-child(2) {
                        @include SP {
                            @include vw(margin-top, 30, 750, 750);
                            @include vw(margin-bottom, 30, 750, 750);
                        }
                    }

                    &:nth-child(n+1) {
                        @include PC {
                            @include vw(margin-top, 15, 1055, 1055);
                        }
                    }

                    .detail-box-color {
                        color: #9B565A;
                        font-weight: bold;
                        text-align: center;
                        border: 2px solid #9B565A;
                        @include PC {
                            @include vw(width, 140, 1055, 1055);
                            @include vw(border-width, 2, 1055, 1055);
                            @include vw(font-size, 20, 1055, 1055);
                            @include vw(padding-top, 5, 1055, 1055);
                            @include vw(padding-bottom, 5, 1055, 1055);
                        }
                        @include SP {
                            @include vw(width, 160,  750, 750);
                            @include vw(border-width, 2,  750, 750);
                            @include vw(font-size, 24,  750, 750);
                            @include vw(padding-top, 5,  750, 750);
                            @include vw(padding-bottom, 5,  750, 750);
                        }

                        &:nth-child(n+1) {
                            @include PC {
                                @include vw(margin-left, 20, 1055, 1055);
                                @include vw(margin-right, 20, 1055, 1055);
                            }
                            @include SP {
                                @include vw(margin-left, 20,  750, 750);
                                @include vw(margin-right, 20,  750, 750);
                            }
                        }
                    }

                    .detail-food-text {
                        line-height: 1.5;
                        @include PC {
                            @include vw(font-size, 20, 1055, 1055);
                        }
                        @include SP {
                            @include vw(font-size, 30,  750, 750);
                        }
                    }
                }
            }
        }
    }
}