@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea, select, option {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

/**
 * イージングプロパティ
 * https://github.com/dmnsgn/sass-easing
 */
/**
 * メディアクエリ
 * @param {string} $mode - max または min
 * @param {number} $width - 設定値
 */
/**
 * メディアクエリ PC
 * @param {number} [$width:$breakpoin] - 設定値
 */
/**
 * メディアクエリ SP
 * @param {number} [$width:$breakpoin] - 設定値
 */
/**
 * メディアクエリによるIE11ハック
 */
/**
 * Google Fonts の読み込み
 * @param {string} $family - フォント名（要URLエンコード）
 * @param {array} [$weights:(400,700)] - ウェイト
 */
/**
 * Noto Sans JP
 * @param {array} [$weights:(400,700)] - ウェイト
 */
/**
 * Noto Serif JP
 * @param {array} [$weights:(400,700)] - ウェイト
 */
/**
 * VW計算
 * @param {string} $property  - プロパティ
 * @param {number} $value - 基準となる値
 * @param {number} $basewidth - 基準となるウィンドウ幅
 * @param {number} [$maxwidth:0] - 拡大を停止するウィンドウ幅
 * @param {number} [$minwidth:0] - 縮小を停止するウィンドウ幅
 */
/**
 * 三角形
 * @param {string} $direction - 三角の向き 上:T / 下:B / 左:L / 右:R
 * @param {number} $w - 幅
 * @param {number} $h - 高さ
 * @param {string} $color - 色
 */
/**
 * ローディングアニメーション
 * @param {number} $size - 円のサイズ
 * @param {number} $thickness - 円の枠線の太さ
 * @param {string} $backcolor - 円の色
 * @param {string} $forecolor - 円の強調色
 * @param {string} [$duration=1] - アニメーションのスピード（単位は秒:s）
 */
body {
  min-width: 320px;
  color: #000;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #100;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

picture {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}
* img {
  height: auto;
  max-width: 100%;
}
* body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: "Shippori Mincho B1", serif, "Yu Gothic", sans-serif;
}
* body .l-container .pt {
  padding-top: 1.8957345972vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .pt {
    padding-top: 20px;
  }
}
* body .l-container .header-top {
  background-color: #F8F8F8;
}
@media screen and (min-width: 768px) {
  * body .l-container .header-top {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .header-top .header-logo {
    padding-top: 1.0980966325vw;
    padding-bottom: 1.0980966325vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .header-top .header-logo {
    padding-top: 15px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .header-top .header-logo {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .header-top .header-logo {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .header-top .header-logo {
    padding-top: 27.32px;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .header-top .header-logo {
    padding-bottom: 27.32px;
  }
}
* body .l-container .header-top .header-logo img {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  * body .l-container .header-top .header-logo img {
    width: 6.588579795vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .header-top .header-logo img {
    width: 90px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .header-top .header-logo img {
    width: 8vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .header-top .header-logo img {
    width: 109.28px;
  }
}
* body .l-container .header-mv {
  background-image: url("../img/mv_morning.png");
  width: 100%;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
* body .l-container .header-mv img {
  margin: 0 auto;
  width: 100%;
}
* body .l-container .main-container {
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container {
    background-image: url("../img/bg-pc.jpg");
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container {
    background-image: url("../img/bg-sp.jpg");
    background-size: contain;
  }
}
* body .l-container .main-container .btn-box {
  text-align: center;
  padding-top: 15px;
}
* body .l-container .main-container .btn-lunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9B565A;
  line-height: 1;
  margin-left: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .btn-lunch {
    width: 10.6149341142vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-lunch {
    width: 145px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .btn-lunch {
    width: 14.6666666667vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-lunch {
    width: 200.3466666667px;
  }
}
* body .l-container .main-container .btn-lunch .btn-main-text {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .btn-lunch .btn-main-text {
    font-size: 2.196193265vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-lunch .btn-main-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .btn-lunch .btn-main-text {
    font-size: 4vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-lunch .btn-main-text {
    font-size: 54.64px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .btn-lunch .btn-sub-text {
    font-size: 1.317715959vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-lunch .btn-sub-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .btn-lunch .btn-sub-text {
    font-size: 2.9333333333vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-lunch .btn-sub-text {
    font-size: 40.0693333333px;
  }
}
* body .l-container .main-container .btn-bottom-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .btn-bottom-inner {
    padding-top: 2.5622254758vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .btn-bottom-inner {
    padding-top: 35px;
  }
}
* body .l-container .main-container .morning {
  color: #B89D9C;
}
* body .l-container .main-container .dinner {
  color: #490E2A;
}
* body .l-container .main-container .morning, * body .l-container .main-container .dinner {
  display: flex;
  line-height: 1;
  margin-left: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .morning, * body .l-container .main-container .dinner {
    width: 10.6149341142vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .morning, * body .l-container .main-container .dinner {
    width: 145px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .morning, * body .l-container .main-container .dinner {
    width: 14.6666666667vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .main-container .morning, * body .l-container .main-container .dinner {
    width: 200.3466666667px;
  }
}
* body .l-container .main-container .morning .btn-main-text, * body .l-container .main-container .dinner .btn-main-text {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .morning .btn-main-text, * body .l-container .main-container .dinner .btn-main-text {
    font-size: 2.196193265vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .morning .btn-main-text, * body .l-container .main-container .dinner .btn-main-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .morning .btn-main-text, * body .l-container .main-container .dinner .btn-main-text {
    font-size: 4vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .main-container .morning .btn-main-text, * body .l-container .main-container .dinner .btn-main-text {
    font-size: 54.64px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .morning .btn-sub-text, * body .l-container .main-container .dinner .btn-sub-text {
    font-size: 1.317715959vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  * body .l-container .main-container .morning .btn-sub-text, * body .l-container .main-container .dinner .btn-sub-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .morning .btn-sub-text, * body .l-container .main-container .dinner .btn-sub-text {
    font-size: 2.9333333333vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 1366px) {
  * body .l-container .main-container .morning .btn-sub-text, * body .l-container .main-container .dinner .btn-sub-text {
    font-size: 40.0693333333px;
  }
}
* body .l-container .main-container .menu-list {
  padding-top: 4.5045045045vw;
}
@media screen and (min-width: 1110px) {
  * body .l-container .main-container .menu-list {
    padding-top: 50px;
  }
}
* body .l-container .main-container .menu-list .menu-list-inner {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .menu-list .menu-list-inner {
    max-width: 1090px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .menu-list .menu-list-inner {
    max-width: 630px;
  }
}
* body .l-container .main-container .menu-list .menu-list-inner .menu-item-block {
  display: flex;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block {
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-item-link:nth-child(n+5) {
    margin-top: 1.5873015873vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 630px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-item-link:nth-child(n+5) {
    margin-top: 10px;
  }
}
* body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
  display: block;
  background: #F9F7F7;
  font-weight: bold;
  font-feature-settings: "calt";
  text-align: center;
  border: 2px solid #9B565A;
  color: #9B565A;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    width: 11.9266055046vw;
    font-size: 1.8348623853vw;
    padding-top: 1.8348623853vw;
    padding-bottom: 1.8348623853vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1090px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    width: 130px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1090px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1090px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1090px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    width: 20.6349206349vw;
    font-size: 3.1746031746vw;
    padding-top: 3.1746031746vw;
    padding-bottom: 3.1746031746vw;
    margin-right: 1.5873015873vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 630px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    width: 130px;
  }
}
@media screen and (max-width: 767px) and (min-width: 630px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 630px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 630px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 630px) {
  * body .l-container .main-container .menu-list .menu-list-inner .menu-item-block .menu-link {
    margin-right: 10px;
  }
}
* body .l-container .main-container .food-list {
  padding-top: 8.5308056872vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .food-list {
    padding-top: 90px;
  }
}
* body .l-container .main-container .food-list .food-list-inner {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .food-list .food-list-inner {
    max-width: 1055px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .food-list .food-list-inner {
    max-width: 640px;
  }
}
* body .l-container .main-container .food-list .food-container {
  display: grid;
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .food-list .food-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.8436018957vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-container {
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  * body .l-container .main-container .food-list .food-container {
    grid-template-columns: 1fr 1fr;
    gap: 7.8125vw;
  }
}
@media screen and (max-width: 767px) and (min-width: 640px) {
  * body .l-container .main-container .food-list .food-container {
    gap: 50px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .food-list .food-card {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .food-list .food-card .button {
    display: block;
    background: #9B565A;
    cursor: pointer;
    width: 22.7488151659vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-card .button {
    width: 240px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .food-list .food-card .hover-block {
    font-size: 4.2654028436vw;
    color: #fff;
    background: #9B565A;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-card .hover-block {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .main-container .food-list .food-card .hover-block:hover {
    opacity: 0.8;
    transition: 0.6s;
  }
}
* body .l-container .main-container .food-list .food-btn-block {
  text-align: center;
  padding-top: 6.63507109vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-btn-block {
    padding-top: 70px;
  }
}
* body .l-container .main-container .food-list .food-btn-block .food-btn-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  color: #fff;
  font-weight: bold;
  width: 23.6966824645vw;
  font-size: 2.3696682464vw;
  padding-top: 1.4218009479vw;
  padding-bottom: 1.4218009479vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-btn-block .food-btn-link {
    width: 250px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-btn-block .food-btn-link {
    font-size: 25px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-btn-block .food-btn-link {
    padding-top: 15px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .food-list .food-btn-block .food-btn-link {
    padding-bottom: 15px;
  }
}
* body .l-container .main-container .message-block {
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 59.7156398104vw;
  background-image: url("../img/img_morning_message.png");
  width: 71.0900473934vw;
  min-height: 11.3744075829vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .message-block {
    padding-top: 630px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .message-block {
    width: 750px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .main-container .message-block {
    min-height: 120px;
  }
}
* body .l-container .link-list {
  display: flex;
  color: #fff;
  align-items: center;
  background: #B89D9C;
  font-size: 1.8301610542vw;
  padding-top: 1.8301610542vw;
  padding-bottom: 1.8301610542vw;
}
@media screen and (min-width: 1366px) {
  * body .l-container .link-list {
    font-size: 25px;
  }
}
@media screen and (min-width: 1366px) {
  * body .l-container .link-list {
    padding-top: 25px;
  }
}
@media screen and (min-width: 1366px) {
  * body .l-container .link-list {
    padding-bottom: 25px;
  }
}
* body .l-container .link-list .link-item:first-child {
  padding-left: 11.3469985359vw;
  padding-right: 8.78477306vw;
}
@media screen and (min-width: 1366px) {
  * body .l-container .link-list .link-item:first-child {
    padding-left: 155px;
  }
}
@media screen and (min-width: 1366px) {
  * body .l-container .link-list .link-item:first-child {
    padding-right: 120px;
  }
}
* body .l-container .link-list .link-item:nth-child(2) {
  padding-right: 8.78477306vw;
}
@media screen and (min-width: 1366px) {
  * body .l-container .link-list .link-item:nth-child(2) {
    padding-right: 120px;
  }
}
* body .l-container .modal-block {
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
* body .l-container .modal-container {
  box-shadow: 6px 6px 10px 0px rgba(3, 6, 12, 0.3);
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  * body .l-container .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 100.2843601896vw;
    padding-bottom: 3.317535545vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .modal-container {
    width: 1058px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .modal-container {
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .modal-block-inner {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .modal-block-inner img {
    width: 28.4360189573vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .modal-block-inner img {
    width: 300px;
  }
}
* body .l-container .contents-block {
  padding-left: 2.3696682464vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .contents-block {
    padding-left: 25px;
  }
}
* body .l-container .txt-block {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  * body .l-container .txt-block:nth-child(n+1) {
    margin-top: 1.4218009479vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .txt-block:nth-child(n+1) {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .txt-block .box_color {
    color: #9B565A;
    font-weight: bold;
    text-align: center;
    border: 2px solid #9B565A;
    width: 13.2701421801vw;
    border-width: 0.1895734597vw;
    font-size: 1.8957345972vw;
    padding-top: 0.4739336493vw;
    padding-bottom: 0.4739336493vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .txt-block .box_color {
    width: 140px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .txt-block .box_color {
    border-width: 2px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .txt-block .box_color {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .txt-block .box_color {
    padding-top: 5px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .txt-block .box_color {
    padding-bottom: 5px;
  }
}
* body .l-container .txt-block .box_color:nth-child(n+1) {
  margin-left: 1.8957345972vw;
  margin-right: 1.8957345972vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .txt-block .box_color:nth-child(n+1) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .txt-block .box_color:nth-child(n+1) {
    margin-right: 20px;
  }
}
* body .l-container .p-modal {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
  letter-spacing: 0.04em;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}
* body .l-container .p-modal.is-open {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear, visibility 1s linear, z-index 1s linear;
}
* body .l-container .p-modal .p-modal-bg {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
* body .l-container .p-modal .p-modal-inner {
  position: relative;
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
}
* body .l-container .p-modal .p-modal-inner .p-modal-body {
  position: relative;
  width: 100%;
  pointer-events: all;
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .p-modal-close {
  position: absolute;
  right: -159px;
  top: -260px;
  display: flex;
  flex-direction: row-reverse;
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .p-modal-close .close-btn {
  position: relative;
  cursor: pointer;
  width: 33px;
  height: 33px;
  margin: 0 auto;
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .p-modal-close .close-btn span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 1px;
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .p-modal-close .close-btn span:nth-child(1) {
  transform: rotate(-45deg);
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .p-modal-close .close-btn span:nth-child(2) {
  transform: rotate(45deg);
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container {
  box-shadow: 6px 6px 10px 0px rgba(3, 6, 12, 0.3);
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 100.2843601896vw;
    padding-bottom: 3.317535545vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container {
    width: 1058px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container {
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner img {
    width: 28.4360189573vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner img {
    width: 300px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block {
  padding-left: 2.3696682464vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block {
    padding-left: 25px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9B565A;
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-text-block {
    width: 28.4360189573vw;
    font-size: 2.1800947867vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-text-block {
    width: 300px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-text-block {
    font-size: 23px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .food-title-block {
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .food-title-block .food-title {
    font-size: 5.971563981vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .food-title-block .food-title {
    font-size: 63px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .food-title-block .food-price {
    font-size: 1.4218009479vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .food-title-block .food-price {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .address-block {
    font-size: 1.8957345972vw;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .address-block {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .time-block {
    color: #9B565A;
    font-size: 1.8957345972vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .time-block {
    font-size: 20px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .time-block .time-text:nth-child(2) {
  padding-top: 0.9478672986vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .time-block .time-text:nth-child(2) {
    padding-top: 10px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block {
  display: flex;
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block {
    padding-top: 2.1800947867vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block {
    padding-top: 23px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn:first-child {
  padding-right: 2.8436018957vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn:first-child {
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn .modal-link {
    display: block;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 1.8957345972vw;
    width: 19.9052132701vw;
    padding-top: 0.9478672986vw;
    padding-bottom: 0.9478672986vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn .modal-link {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn .modal-link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn .modal-link {
    padding-top: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .modal-block-inner .contents-block .modal-btn-block .modal-btn .modal-link {
    padding-bottom: 10px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block:nth-child(n+1) {
    margin-top: 1.4218009479vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block:nth-child(n+1) {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color {
    color: #9B565A;
    font-weight: bold;
    text-align: center;
    border: 2px solid #9B565A;
    width: 13.2701421801vw;
    border-width: 0.1895734597vw;
    font-size: 1.8957345972vw;
    padding-top: 0.4739336493vw;
    padding-bottom: 0.4739336493vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color {
    width: 140px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color {
    border-width: 2px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color {
    padding-top: 5px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color {
    padding-bottom: 5px;
  }
}
* body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color:nth-child(n+1) {
  margin-left: 1.8957345972vw;
  margin-right: 1.8957345972vw;
}
@media screen and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color:nth-child(n+1) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1055px) {
  * body .l-container .p-modal .p-modal-inner .p-modal-body .modal-container .detail-txt-block .detail-box-color:nth-child(n+1) {
    margin-right: 20px;
  }
}